<div class="share-link">
    <form action="index.html" method="get">
        <label for="share">Lien à partager</label>
        <textarea name="share" rows="6" cols="40">#Giselle Soundboard - {{title}}
{{url}}</textarea>
    </form>

    <div class="likely" data-title="#Giselle Soundboard - {{title}}" data-url="{{url}}">
        <div class="facebook">Partager</div>
        <div class="twitter">Tweet</div>
        <div class="gplus">+1</div>
    </div>
</div>
